/* The Main Background */
.root {
    -fx-background-color: linear-gradient(to bottom, #061A3A, #0D2F66);
}

/* --- BAR CHART STYLING --- */

/* Standard Bar Color (Series 0) */
.default-color0.chart-bar {
    -fx-bar-fill: #3B82F6;
    -fx-background-radius: 5 5 0 0;
}

/* Axis Lines and Labels */
.axis {
    -fx-tick-label-fill: white;
    -fx-axis-label-fill: white;
}

/* The Chart Content Area (The box where the bars sit) */
.chart-plot-background {
    -fx-background-color: transparent;
}

/* Grid Lines */
.chart-horizontal-grid-lines {
    -fx-stroke: #1E3A8A;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-title {
    -fx-text-fill: white;
    -fx-font-size: 1.6em;
    -fx-font-weight: bold;
}
/* --- PIE CHART STYLING --- */

.chart-pie-label {
    -fx-fill: white;
}

/* --- TEXT AREA STYLING --- */
.text-area {
    -fx-control-inner-background: #061A3A;
    -fx-text-fill: white;
    -fx-font-family: "Consolas";
}
/* This targets the actual text within the legend */
.chart-legend .label {
    -fx-text-fill: #061A3A !important;
}


/* Axis styling to match */
.axis {
    -fx-tick-label-fill: white;
}

.axis-label {
    -fx-text-fill: white;
}